.messages-container {
  display: flex;
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  padding: 20px;
  font-family: Roboto;
  position: relative;
}

.close {
  position: absolute;
  right: 10px;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
